%nav
  .container
    %a.navbar-brand.fw-bold.fs-4 Profile
    %ul.nav.justify-content-center
      %li.nav-item
        %a=link_to 'Matches', dashboard_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a=link_to 'Messages', conversations_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'New Schedule', new_schedule_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'Schedules', schedules_path, class: 'text-decoration-none'    
        %a= link_to "Logout", logout_path, method: :delete, class: 'text-decoration-none'
    
- @matches.each do |group, schedules|
  .text-center.fs-2= group
  - schedules.each do |schedule|
    .text-center
      .img= image_tag(schedule.user.picture_url)
      .fs-3= schedule.user.first_name
      %div
        = link_to 'Send Message', new_conversation_path(recipient_id: schedule.user.id), class: 'btn btn-secondary'
        .btn.btn-secondary{type: "button"} Ignore
