%nav
  .container.border-bottom
    %a.navbar-brand.fw-bold.fs-4 Profile
    %ul.nav.justify-content-center
      %li.nav-item
        %a=link_to 'Matches', dashboard_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'Messages', conversation_path(@conversations.first)
        %span.badge.text-bg-secondary= current_user.unread
      %li.nav-item
        %a= link_to 'New Schedule', new_schedule_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'Schedules', schedules_path, class: 'text-decoration-none'    
.conversations
  .sidebar.border-end{style: "width:25%"}
    %H4.m-1 Messaging
    %ul.list-group
      - @conversations.each do |conversation|
        %li.list-group-item{class: conversation == @conversation ? 'active' : ''}
          = link_to conversation.name(current_user), conversation_path(conversation), class: 'text-decoration-none'