%nav
  .container
    %a.navbar-brand.fw-bold.fs-4 Profile
    %ul.nav.justify-content-center
      %li.nav-item
        %a=link_to 'Matches', dashboard_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a=link_to 'Messages', conversations_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'New Schedule', new_schedule_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'Schedules', schedules_path, class: 'text-decoration-none'   
%table
  %thead
    %th Availability
    %th Location
    %th Gender-Preference
  %tbody
    - @schedules.each do |schedule|
      %tr
        %td= schedule.availability
        %td= schedule.location
        %td= schedule.gender
        %td= link_to 'X', schedule, data: { turbo_method: :delete }