%nav
  .container
    %a.navbar-brand.fw-bold.fs-4 Profile
    %ul.nav.justify-content-center
      %li.nav-item
        %a=link_to 'Matches', dashboard_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a=link_to 'Messages', conversations_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'New Schedule', new_schedule_path, class: 'text-decoration-none mx-2'
      %li.nav-item
        %a= link_to 'Schedules', schedules_path, class: 'text-decoration-none'   

- if @schedule.errors.any?
  #error-explanation
    %p.text-danger #{pluralize(@schedule.errors.count, 'error')} prohibited this article from being saved:
    %ul
      - @schedule.errors.each do |error|
        %li.text-danger.fst-italic= error.full_message

.form-group
  = form_for @schedule do |f|
    %p.mb-1= f.label :availability
    = f.date_field :availability
    %p.mb-1= f.label :location
    = f.text_field :location
    %p.mb-1= f.label :gender
    = f.text_field :gender
    %p.mt-5= f.submit 